<h1><%= @feed.name %> - <%= @feed.segment_query.present? && @show&.emission_premiere? ? 'Filtered segments' : 'Episodes' %></h1>

<% if @show.present? %>
  <section class="panel subheader">
    <h2><%= @show.title %></h2>
    <h3 class="muted"><%= display_ohdio_type(@show.ohdio_type) %></h3>
    <p><%= sanitize_description(@show.description) %></p>
  </section>

  <% if @pagy.present? && @pagy.pages > 1 %>
    <% current_page = [params[:page].to_i, 1].max %>
    <p>
      <% if @pagy.previous %>
        <%= link_to 'Previous page', episodes_feed_path(@feed, page: @pagy.previous) %>
      <% end %>
      <strong>Page <%= current_page %> of <%= @pagy.pages %></strong>
      <% if @pagy.next %>
        <%= link_to 'Next page', episodes_feed_path(@feed, page: @pagy.next) %>
      <% end %>
    </p>
  <% end %>

  <% if @items.any? %>
    <% @items.each do |item| %>
      <% if item.segment? %>
        <%= render 'segment_item', item: item %>
      <% else %>
        <%= render 'episode_item', item: item %>
      <% end %>
    <% end %>
  <% else %>
    <p>No items available.</p>
  <% end %>

  <% if @pagy.present? && @pagy.pages > 1 %>
    <% current_page = [params[:page].to_i, 1].max %>
    <p>
      <% if @pagy.previous %>
        <%= link_to 'Previous page', episodes_feed_path(@feed, page: @pagy.previous) %>
      <% end %>
      <strong>Page <%= current_page %> of <%= @pagy.pages %></strong>
      <% if @pagy.next %>
        <%= link_to 'Next page', episodes_feed_path(@feed, page: @pagy.next) %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <p>Episode data is syncing in the background. Refresh in a few moments.</p>
<% end %>

<p>
  <%= link_to 'Back to feed', feed_path(@feed) %>
  |
  <%= link_to 'Back to feeds', feeds_path %>
</p>
